.header {
  background-color: rgb(242, 245, 246);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main {
  display: flex;
}

.products-block {
  width: 300px;
  padding: 5px;
  padding: 30px;
}

.productsBlocks {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Sidebar {
  width: 300px;
  list-style-type: none;
}

.imgProduct {
  width: 305px;
  height: 250px;
}

.infoBlock {
  display: flex;
  align-items: center;
}

button {
  background-color: rgb(1, 140, 253);
  width: 300px;
  height: 45px;
  font-size: 18px;
  color: white;
  border: 0px double rgb(224, 222, 222);
  border-radius: 8px;
}

.products-block {
  border: 1px double rgb(224, 222, 222);
  margin: auto;
  margin-top: 20px;
}

.price {
  color: rgb(123, 126, 129);
  margin: 10px;
  font-size: 13px;
}

.nameProduct {
  color: rgb(123, 126, 129);
  margin: 0;
}

.headerIkon {
  padding-left: -35px;
  width: 35px;
  height: 35px;

  margin: auto;
  margin-right: 36px;
}
